.about {
  &.us {
    padding: 2em inherit;

    img {
      display: block;
      margin: 3em auto;
    }
  }

  h3 {
    @extend %small-title;
    margin: 1em 0;
  }

  blockquote {
    border-color: $main;
    margin: 1em inherit;
  }


  &.profile {
    background-color: lighten($light, 5%);
    padding: 3em 0 4em;

    .item {
      background-color: #fff;
      overflow: hidden;
      position: relative;

      @media (min-width: $screen-md-min) {
        display: flex;
      }
    }

    img {
      min-width: 100%;
    }

    .numbers {
      text-align: right;

      + div {
        border-left: 1px solid $light;
      }
    }

    .intro {
      padding: 1em;

      .inner {
        padding: 0 2em;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;

        @media (max-width: $screen-sm-max) {
          position: relative;
        }
      }
    }

    .image {
      padding: 0;
    }

    .index {
      color: $main;
      display: block;
      font-size: 3em;
      line-height: 1em;
    }

    .title {
      font-size: 1.5em;
      font-weight: 900;
    }
  }
}
