.press {
  border-left: 1em solid lighten($light, 5%);

  .item {
    text-align: center;
  }

  .date {
    font-weight: 300;
  }

  h3 {
    text-align: center;
  }
}

.project {
  overflow: hidden;
  position: relative;

  .background {
    max-height: 400px;
    overflow: hidden;
    position: relative;
    width: 100%;

    img {
      border: 0;
      border-radius: 0;
      height: 100%;
      margin: 0;
      min-width: 100%;
      padding: 0;
      position: relative;
    }
  }

  .preview {
    display: flex;
    padding: 0;
  }

  .overlay {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3;
  }

  .title {
    border: {
      color: #fff;
      color: rgba(#fff, .4);
      style: solid;
      width: 1px 0;
    }
    color: #fff;
    display: block;
    font: {
      weight: 800;
      size: 2.5em;
    }
    left: 50%;
    padding: .3em 0;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
  }

  .details {
    position: relative;

    .heading {
      font-weight: 900;
      text-transform: uppercase;
    }

    .client {
      color: $main;
      margin: 0;

      + p {
        font: {
          size: 1.8em;
        }
        line-height: 1;
      }
    }

    .services {
      color: $main;
      margin: 0;

      + p {
        font-size: 1em;
        line-height: 1.3;
      }
    }
  }
}

.quotes {
  background-color: $secondary;
  padding: 4em inherit;

  ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    text-align: center;
  }

  .single {
    color: $secondary;
    display: block;
  }

  span {
    background-color: $main;
    font-size: 2em;
    line-height: 2.5em;
    max-width: 300px;
    padding: .4em;
    position: relative;
    text-transform: uppercase;

    &:after {
      content: '\a';
      white-space: pre-line;
    }

    &:nth-child(odd) {
      left: -2em;
      padding-left: 5em;
    }

    &:nth-child(even) {
      left: 2em;
      padding-right: 5em;
      @media (max-width: $screen-md-max) {
        left: 0;
        padding-right: 0;
      }
    }

  }
}

.careers {
  min-height: 400px;
  position: relative;

  .background {
    left: 0;
    max-height: 400px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;

    img {
      min-height: 200%;
      min-width: 100%;
    }
  }

  .blocks {
    margin-top: 6em;
    position: relative;
    z-index: 3;

    .item {
      background-color: $secondary;
      color: $main;
      padding: 3em;

      h3 {
        border-bottom: solid $main 1px;
        color: inherit;
        margin: 0 0 .5em;
        padding-bottom: .5em;
      }

      p {
        font-size: 2em;
        line-height: 1em;
        margin: 0;
        text-transform: uppercase;
      }
    }

    .item:last-child {
      background-color: $main;
      color: $secondary;
      margin-left: 1em;

      @media (max-width: $screen-sm-max) {
        margin-left: 0;
      }

      h3 {
        border-bottom-color: $secondary;
      }
    }
  }
}

.clients {
  background-color: lighten($secondary, 65%);
  padding: 3em inherit;

  h4 {
    color: $secondary;
    font-weight: 600;
    text-align: center;
  }

  .preview {
    background-color: transparent;
    border: 0;
    filter: grayscale(100%);
    min-height: 160px;
    padding: 2em;
    pointer-events: none;
    user-select: none;
    width: 100%;
  }
}
