[id^="intro-"] {
  max-height: 50vw;
  min-height: 250px;
  overflow: hidden;
  position: relative;

  &.secondary {
    max-height: 500px;
    min-height: 200px;

    .tagline {
      top: 40%;
    }
  }

  .tagline {
    left: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    z-index: 3;

    h4 {
      color: #fff;
      cursor: default;
      display: inline-block;
      font-size: 1.5em;
      margin: auto;
      text-transform: uppercase;
      user-select: none;
    }

    span {
      background-color: rgba($main, .6);
      display: table;
      margin: .2em auto;
      padding: .2em .8em;

      &:first-child {
        font-size: 1.5em;
      }
    }
  }

  img {
    border: 0;
    border-radius: 0;
    margin: 0;
    min-width: 100%;
    padding: 0;
  }
}
