[role="header"] {

  [role="navigation"] {
    background-color: transparent;
    box-shadow: none;

    li a {
      color: #fff;
    }

    .active a {
      background-color: transparent;
      border-bottom: 2px solid $main;
      color: $main;
      font-weight: 900;

      &:hover {
        background-color: $main;
        color: $secondary;
      }
    }

    .navbar-brand {
      color: #fff;
    }

    .navbar-toggle .icon-bar {
      background-color: #fff;
    }

    [role="menu"] {
      border: 0;
      box-shadow: none;

      &.in ul,
      &.collapsing ul {
        background-color: rgba(#222, .8);
      }
    }

    &.detached {
      background-color: rgba($secondary, .9);
    }

    ul {
      margin-bottom: 0;
    }
  }
}
